<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Location details</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <main>
    <section id="place-details"></section>

    <section id="add-review" style="display: none;">
      <h3>Add a review</h3>
      <form id="review-form">
        <textarea id="review-text" rows="4" placeholder="Tu opinión..." required></textarea>
        <button type="submit">Send review</button>
      </form>
    </section>
  </main>

  <script src="/static/scripts.js"></script>
</body>
</html>
